<h1>All Owner and their pets</h1>

<% @owners.each do |an_owner| %>
  <% if an_owner.name != "None" %>

  <% pet_array = an_owner.pets%>
  <% if pet_array.any?%>
  <h2><%= an_owner.name %></h2>
  <h3> Pets Owned </h3>
  <ol>
  <% pet_array.each do |pet| %>
  <li><a href="/pets/<%=pet.id%>"><%= pet.name %> <%=- pet.breed %></a></li>
  <% end %>
  </ol>
  <% end %>
  <% end %>
  <% end %>
