<div class="divnewform">
  <h1>Add New Owner</h1>


  <form class="petform" action="/owners" method="POST">
    <div class="formcontent">
      <label for="ownerName">Name:</label>
      <input type="text" name ="name" id ="ownerName"/>
    </div>

    <div class="formcontent">
      <label for="ownerEmail">Email:</label>
      <input type="text" name ="email" id ="ownerEmail"/>
    </div>

    <div class="formcontent">
      <label for="ownerMobile">Name:</label>
      <input type="text" name ="mobile" id ="ownerMobile"/>
    </div>

    <input class="submit" type="submit" value="Add"/>

  </div>
