<div class="divnewform">
<h1>Add New Owner</h1>


<form class="petform" action="/owners" method="POST">
  <div class="formcontent">
  <label for="ownerName">Name:</label>
  <input type="text" name ="name" id ="ownerName"/>
</select>
</div>

<input class="submit" type="submit" value="Add"/>

</div>
