<h1>Assign <%= @pet.name %> a new home </h1>

<form action="/pet_owners" method="POST">
<label for="ownerNames">Select New Owner</label>
<select name="owner_id">
<% @owners.each do |owner| %>
<option value="<%=owner.id%>"><%=owner.name%></option>
<%end%>
</select>

<input type="hidden" name ="pet_id" value= "<%= @pet.id %>"/>

<input type="submit" value="Assign"/>

</form>
