<div class="divnewform">
  <h1>Assign A New Home </h1>

  <form class="petform" action="/pet_owners" method="POST">

    <div class="formcontent">
      <label for="ownerNames">Pet</label>
      <input disabled="disabled" name ="pet_id" value= "<%= @pet.name %>"/>
    </div>

    <div class="formcontent">
      <label for="ownerNames">Select New Owner</label>
      <select name="owner_id">
        <% @owners.each do |owner| %>
        <option value="<%=owner.id%>"><%=owner.name%></option>
        <%end%>
      </select>
    </div>

    <input type="hidden" name ="pet_id" value= "<%= @pet.id %>"/>

    <input class="submit" type="submit" value="Assign"/>

  </form>
</div>
