
<h1 class="tabletitle">Adoptions</h1>

<div class="tablediv">
<table style="margin: auto;">
  <tr>
    <th>Pet  </th>
    <th>Owner </th>
    <th></th>
  </tr>
  <% for petowner in @petowners %>
  <tr>
    <td><a href="/pets/<%=Pet.find(petowner.pet_id).id%>"><%=Pet.find(petowner.pet_id).name%></a></td>
    <td><%=Owner.find(petowner.owner_id).name%></td>
    <td><form  action="/pet_owners/<%=petowner.id%>/delete" method="POST">
      <input class="tablebutton" type="submit" value="Delete" />
    </form></td>
  </tr>
  <% end %>
</table>
</div>
