<dl>
  <dt>
    Regsistered Pets
  </dt>
  <dd class="percentage percentage-<%="><span class="text">Dogs: 11.33%</span></dd>
  <dd class="percentage percentage-49"><span class="text">Cats: 49.77%</span></dd>
  <dd class="percentage percentage-16"><span class="text">Rabbits: 16.09%</span></dd>
</dl>
