<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Shelter</title>
</head>
<body>
  <nav>
  <li><a href="/">Home</a></li>
  <li><a href="/pets">Pets</a></li>
  <li><a href="/pets/new">Add New Pet</a></li>
  <li><a href="/pet_owners">Pet Owners</a></li>
    <li><a href="/owners">All Potential Owners</a></li>
  <li><a href="/owners/new">Add New Owner</a></li>


</nav>

  <%= yield %>

</body>
</html>
