<h1>All Pets at Shelter</h1>


<% @pets.each do |pet| %>
<p> Name: <%= pet.name %></p>
<p> Breed: <%= pet.breed %> </p>
<p> Sex: <%= pet.gender %> </p>
<p> Status: <%= pet.trained %> </p>
<hr>

<% end %>
