
<div class="divnewform">
  <h1>Add New Pet</h1>


  <form class="petform" action="/pets" method="POST">
    <div class="formcontent">
      <label for="petName">Name:</label>
      <input type="text" name ="name" id ="petName"/>
    </div>

    <div class="formcontent">
      <label for="petType">Type:</label>
      <select name="type" id="petType">
        <option value="Cat" >Cat</option>
        <option value="Dog" >Dog</option>
        <option value="Rabbit" >Rabbit</option>
      </select>
    </div>

    <div class="formcontent">
      <label for="petBreed">Breed:</label>
      <input type="text" name ="breed" id= "petBreed"/>
    </div>


    <div class="formcontent">
      <label for="petSex">Sex:</label>
      <select name="gender" id="petGender">
        <option value="Male" >Male</option>
        <option value="Female" >Female</option>
      </select>
    </div>

    <div class="formcontent">
    <label for="petBreed">Date:</label>
    <input type="date" name ="date_arrived" id= "petDate"/>
    </div>

    <div class="formcontent">
    <label for="petAdopatble">Adoptable:</label>
    <select name="adoptable" id="petAdoptable">
      <option value="Yes" >Yes</option>
      <option value="No" >No</option>
    </select>
    </div>

    <div class="formcontent">
    <label for="petTrained">Trained:</label>
    <select name="trained" id="petTrained">
      <option value="Yes" >Yes</option>
      <option value="No" >No</option>
    </select>
    </div>

    <input type="hidden" name ="picture" value= "images/placeholder.jpg" />

    <input class="submit" type="submit" value="Add"/>
  </form>
</div>
